<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/register.css" rel="stylesheet">


    <link href="/css/mediaQueryStyle.css" rel="stylesheet">


    <title>mercado liebre</title>
</head>

<body>
    <header>
        <div class="logo-container">
            <div class="logo-bar-container">
                <div class="logo">
                    <a href="/"><img src="/images/logo-mercado-liebre.svg" alt="Logo"></a>
                </div>
                <div class="search-button-container">
                    <div class="search-container">
                        <input type="text" placeholder="Buscar productos, marcas...">
                        <button><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </div>
            <div class="card-container">
                <h2 class="card-title"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito
                </h2>
            </div>
        </div>
        <div class="menu-container">
            <ul>
                <li>Ofertas</li>
                <li>Tiendas Oficiales</li>
                <li>Vender</li>
                <li>Ayuda</li>
            </ul>
            <ul>
                <li><a href="/register">Creá tu cuenta <i class="fas fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li>Mis Compras <i class="fas fa-shopping-basket"></i></li>
            </ul>
        </div>
        <div class="burger-container">
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </header>
    <section class="banner">
        <img src="images/img-home-banner.jpg" alt="banner de oferta">
    </section>
    <main>
        <div class="caja-principal">
            <p>Registrarse</p>
            <form action="/registro" method="POST">
                <div class="caja-especifica">
                    <div>
                        <div class="grupodecajas">
                            <label for="username">Usuario</label>
                            <input type="text" name="username" required>
                        </div>
                    </div>
                    <div>
                        <div>
                            <div class="grupodecajas">
                                <label for="password">Contraseña</label>
                                <input type="password" name="password" required>
                            </div>
                            <div class="grupodecajas">
                                <label for="lastname">Nombre y Apellido</label>
                                <input type="text" name="lastname" required>

                            </div>
                            <div class="grupodecajas">
                                <label for="date">Fecha de nacimiennto</label>
                                <input type="date" name="date" required>

                            </div>
                            <div class="grupodecajas">
                                <label for="adress">Domicilio</label>
                                <input type="text" name="adress" required>
                            </div>
                            <div class="grupodecajas perfil">
                                <div class="label-grupo">
                                    <label for="perfil">Perfil</label>
                                </div>
                                <div class="caja-perfil">
                                    <input type="radio" id="comprador" name="perfil" value="comprador" checked>
                                    <label for="comprador">Comprador</label>
                                    <input type="radio" id="vendedor" name="perfil" value="vendedor">
                                    <label for="vendedor">Vendedor</label>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="label-group">
                                <div class="grupodecajas">
                                    <label for="password2">Repetir contraseña</label>
                                    <input type="password" name="password2" id="password2"
                                        placeholder=" Repita contraseña" minlength="5" required>
                                </div>
                                <div class="grupodecajas">
                                    <div>
                                        <label for="categories">Categorías de interés</label>
                                    </div>
                                    <div class="grupo-categorias">
                                        <div class="categorias">
                                            <input type="checkbox" name="categorias"
                                                value="electro"><label>Electro</label>
                                        </div>
                                        <div class="categorias">
                                            <input type="checkbox" name="categorias" value="Moda"><label>Moda</label>
                                        </div>
                                        <div class="categorias">
                                            <input type="checkbox" name="categorias" value="Hogar"><label>Hogar</label>
                                        </div>
                                        <div class="categorias">
                                            <input type="checkbox" name="categorias"
                                                value="Jugueteria"><label>Jugueteria</label>
                                        </div>
                                        <div>
                                            <input type="checkbox" name="categorias"
                                                value="Vida sana"><label>Vida_sana</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="grupodecajas">
                                    <label for="fotouser">Foto usuario</label>
                                    <input type="file" name="fotouser">
                                </div>
                                <div class="caja-botones">
                                    <div class="caja-enviar">
                                        <button type="submit">Enviar</button>
                                    </div>
                                    <div class="caja-limpiar">
                                        <button type="reset">Limpiar</button>
                                    </div>
                                </div>
                            </div>
            </form>
    </main>
    <footer>
        <div>
            <section>
                <span class="iconos-footer"><i class="fa-solid fa-credit-card"></i></span>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </section>
            <section>
                <span class="iconos-footer"><i class="fa-solid fa-gift"></i></span>
                <h3>Envío gratis desde $ 2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </section>
            <section>
                <span class="iconos-footer"><i class="fa-solid fa-user-shield"></i></span>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </section>
        </div>
        <section class="pie-footer">
            <p class="Copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</body>

</html>