* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #ebebeb;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
    padding: 0;
}

img {
    width: 100%;
}

html {
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    background-color: #EAC926;
    flex-direction: column;
}

/************ HEADER ****************** */

.logo-container {
    display: flex;
    flex-direction: column;
}

.burger-container {
    display: flex;
    justify-content: center;
}


.menu-container {
    display: none;
}

.logo-bar-container {
    display: flex;
}

.card-container {
    padding: 15px;
}

.logo {
    width: 50%;
    padding: 10px;
}

.search-button-container {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.search-container {
    display: flex;
    height: 25px;
    width: 90%;
}

.card-title {
    font-weight: 400;
    text-align: center;
}

.card-title i {
    margin-right: 10px;
}

input {
    width: 95%;
    border: none;
    border-radius: 5px 0 0 5px;
}

button {
    width: 15%;
    padding: 1px;
    border: none;
    background-color: white;
    border-radius: 0 5px 5px 0;
}

.burger-menu {
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    margin: 5px;
    border-radius: 5px;
    color: white;
    background-color: blue;
}

/************ FIN HEADER ***************/

/******* MAIN INICIO ********/
/*incio ultima visita*/
main h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.lista .productos {
    width: 95%;
}
.productos article {
    background: white;
    padding: 10px 0;
}
/*logo camion*/
main section article i {
    color: #39b54a;
    border: 1px solid #39b54a;
    background: white;
    border-radius: 50%;
    padding: 8px;
    position: absolute;
    top: -15px;
    right: 20px;
    width: 35px;
    height: 35px;
}
article i {
    transition: transform 1s;
}

article:hover i{
    transform: rotate(-90deg);
}

.info {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding: 10px;
    border-top: 1px solid #ebebeb;
}
.precio {
    font-size: 18px;
    width: 30%;
}
.descuentos {
    width: 70%;
    color: #39b54a;
}

.descuentos, .info h4 {
 font-size: 18px; 
 font-weight: normal;  
}

h3, .info h4 {
    color: #666;
}
main section article {
    margin-bottom: 15px;
}
/* fin ultima visita */
/* inico ofertas */

.lista, .ofertas {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ofertas .productos {
    width: 95%;
}


a:hover {
    cursor: pointer;
}


footer section {
    color: #666;
    padding: 15px;
}
footer section i {
    font-size: 2em;
    color: #1259c3;
    cursor: pointer;
    transition: all 0.4s ease-in;
}
footer .iconos-footer:hover {
    color: #EAC926;
    transition: all 0.4s ease-in;
}
footer .iconos-footer:hover i {
    transform: rotateY(180deg);
    transition: all 0.4s ease-in;
}
footer .iconos-footer:not(:hover) i {
    transform: rotateY(0deg);
    transition: all 0.4s ease-in;
}


footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
}
footer h3, p {
    margin: 0;
    padding: 0;
}

footer .pie-footer {
    text-align-last: left;
    margin-top: 10px;
}

footer .Copyright {
    font-size: 12px;
}

